# =========================
# Python
# =========================
**pycache**/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# =========================
# Virtual Environment
# =========================
venv/
.env/
.venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# SQLite DB
# =========================
*.sqlite
*.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Gradio / Temp Files
# =========================
gradio_cached_examples/
tmp/

# =========================
# Docker
# =========================

*.tar

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/

# =========================
# Misc
# =========================
*.bak
*.tmp